<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
    >
    <testsuites>
        <testsuite name="Retailcrm Bitrix module Test Suite">
            <directory suffix=".php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>